//
.header-mobile {
  .region-header-mobile {
    position: fixed;
    top:0px;
    left:0px;
    background-color: $macro-purple;
    width: 100%;
  }
}

#block-menu-block-1 {
  margin-bottom:0px;
  height: 40px;

  h2 {

    position: relative;
    display: block;
    width: 30px;
    font-size: 25px;
    text-indent: 26px;
    height: 37px;
    padding-top: 4px;
    color: #fff;

    &:before {
      display: block;
      content: "";
      position: absolute;
      left: 5px;
      top: 19px;
      width: 18px;
      height: 3px;
      background: #fff;
      box-shadow:
        0 7px 0 #fff,
        0 -7px 0 #fff;

    }
  }

  div.menu-block-wrapper {
    position: relative;
    display: none;

    ul.menu {
      position: relative;
      li {
        position: relative;
        background-color: $macro-purple;
        box-shadow: 0 1px 0 $macro-purple-light inset, 0 -1px 0 $macro-purple-dark inset;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        padding: 10px;

        &.expanded {
          a {
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-family: $latoregular;
            &:before {
              position: absolute;
              display: block;
              content: '\25BC';
              font-size: 0.7em;
              color: #fff;
              top: 13px;
              right: 10px;
            }
          }
          ul {
            li {
              a {
                color:#000;
              }
            }
          }

        }
        a {
          display: block;
          color: #fff;
          text-transform: uppercase;
          font-family: $latoregular;
        }
        //li hover
        &:hover {
          background: $macro-purple;
        }

        ul {
          position: relative;
          display: none;
          margin-left: -10px;
          margin-right: -10px;
          margin-top: 10px;
          li {
            position: relative;
            list-style: none;
            background-color: $macro-purple;
            box-shadow: 0 1px 0 $macro-purple-light inset, 0 -1px 0 $macro-purple-dark inset;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
            padding: 0px;
            a {
              display: block;
              color:#000;
              text-transform: uppercase;
              font-family: $latoregular;
              background: #eeeeee;
              -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
              -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
              box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
              text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
              padding: 10px 10px;
              &:hover {
                background-color: #f6f6f6;
              }
              &:before {
                content: "" !important;
                color: transparent;
              }
            }
          }
        }

      }
    }
  }


}