
//@mixin logo-contact-copy($span, $tel-size, $mail-size, $icon-phone, $icon-envelope) {
@include media($tiny-mobile-width) {
  @include responsive-bar(red, 'hello');
  @include logo-contact-copy(12, 36px, 17px, 30px, 17px, 0px);


  #block-tb-megamenu-main-menu {
    display: none;
  }
  .banner-btn {
    height: 165px;
    .banner-prev{
      left:20px;
      &:before {
        font-family: FontAwesome;
        font-family: FontAwesome;
        content: "\f104";

        color: $macro-purple;
      }
    }
    .banner-next{
      right:20px;
      &:before {
        font-family: FontAwesome;
        content: "\f105";

        color: $macro-purple;
      }
    }
  }
  @include remove-carousel-copy();

  // Content Styles.
  #content {
    @include outer-container;
    .node {
      @include span-columns(12);
    }
    #block-webform-client-block-1,
    #block-webform-client-block-20 {
      @include span-columns(12);
    }
  }

}

@include media($small-mobile-width) {
  @include responsive-bar(orange, 'hello');
  @include logo-contact-copy(12, 36px, 17px, 30px, 17px, 0px);

  #block-menu-block-1 {
    display: block;
  }

  #block-tb-megamenu-main-menu {
    display: none;
  }
  .banner-btn {
    height: 165px;
    .banner-prev{
      left:20px;
      &:before {
        font-family: FontAwesome;
        font-family: FontAwesome;
        content: "\f104";

        color: $macro-purple;
      }
    }
    .banner-next{
      right:20px;
      &:before {
        font-family: FontAwesome;
        content: "\f105";

        color: $macro-purple;
      }
    }
  }
  @include remove-carousel-copy();

  // Content Styles.
  #content {
    @include outer-container;
    .node,
    #block-hbc-magnific-hbc-magnific {
      @include span-columns(12);
    }
    #block-webform-client-block-1,
    #block-webform-client-block-20 {
      @include span-columns(12);
    }
  }

}

@include media($medium-mobile-width) {
  @include responsive-bar(yellow, 'hello');
  @include logo-contact-copy(12, 30px, 13px, 30px, 17px, 15px);

  #block-hbc-header-hbc-header-logo {
    @include span-columns(6);
  }

  #block-hbc-header-hbc-header-contact {
    @include span-columns(6);
    .icon-phone,
    .icon-envelope,
    .icon-map-marker {
      color:$macro-purple;
    }
  }

  #block-menu-block-1 {
    display: block;
  }

  #block-tb-megamenu-main-menu {
    display: none;
  }

  .banner-btn {
    height: 165px;
    .banner-prev{
      left:20px;
      &:before {
        font-family: FontAwesome;
        font-family: FontAwesome;
        content: "\f104";
        font-size: 90px;
        color: $macro-purple;
      }
    }
    .banner-next{
      right:20px;
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 90px;
        color: $macro-purple;
      }
    }
  }

  @include remove-carousel-copy();

  // Content Styles.
  #content {
    @include outer-container;
    .node,
    #block-hbc-magnific-hbc-magnific {
      @include span-columns(12);
    }
    #block-webform-client-block-1,
    #block-webform-client-block-20 {
      @include span-columns(12);
    }
  }

}

@include media($large-mobile-width) {
  @include responsive-bar(green, 'hello');
  @include logo-contact-copy(6, 38px, 16px, 30px, 17px, 5px);
  #block-menu-block-1 {
    display: block;
  }

  #block-tb-megamenu-main-menu {
    display: none;
  }

  .banner-btn {
    height: 165px;
    .banner-prev{
      left:20px;
      &:before {
        font-family: FontAwesome;
        font-family: FontAwesome;
        content: "\f104";
        font-size: 110px;
        color: $macro-purple;
      }
    }
    .banner-next{
      right:20px;
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 110px;
        color: $macro-purple;
      }
    }
  }



  @include remove-carousel-copy();

  // Content Styles.
  #content {
    @include outer-container;
    .node,
    #block-hbc-magnific-hbc-magnific {
      @include span-columns(8);
    }
    #block-webform-client-block-1,
    #block-webform-client-block-20 {
      @include span-columns(4);
    }
  }

}

@include media($tablet-width) {
  @include responsive-bar(blue, 'hello');
  @include logo-contact-copy(6, 50px, 21px, 30px, 17px, 5px);
  #block-menu-block-1 {
    display: block;
  }
  #block-tb-megamenu-main-menu {
    display: none;
  }

  #hero-banner-carousel {
    .slide-cta-wrapper {
      max-width: 245px;
      .slide-cta {
        font-size: 20px;
      }
    }
  }

  @include add-carousel-copy();
}

@include media($main-menu-break) {
  @include responsive-bar(violet, 'hello');
  #block-menu-block-1 {
    display: none;
  }
  #block-tb-megamenu-main-menu {
    display: block;
  }

  @include add-carousel-copy();

}

@include media($desktop-width) {
  @include responsive-bar(purple, 'hello');
  @include logo-contact-copy(6, 62px, 30px, 50px, 25px, 5px);
  @include add-carousel-copy();

}

@include media($monitor-width) {
  @include responsive-bar(pink, 'hello');
  @include logo-contact-copy(6, 62px, 28px, 50px, 25px, 5px);
  @include add-carousel-copy();
}