#block-webform-client-block-1 {
  margin-bottom: 0px;

  .block-title {
    color: $macro-purple;
  }
  // Booking Webform.
  #webform-client-form-1 {


    .description {
      position: absolute;
      left:-9999px;
    }

    .form-item {
      margin:5px 0px;
      font-family: $latoregular;
      font-size: 15px;
      input {
        margin-bottom: 5px;
      }
      label {
        margin-bottom: 0px;
        font-size: 14px;
      }
    }

    input[type="submit"] {
      background-color: $macro-purple;
      width:100%;
    }

  }
}