//
.header-mobile {
  .region-header-mobile {
    position: fixed;
    top:0px;
    left:0px;
    background-color: #c0392b;
    width: 100%;
  }
}

#block-menu-block-1 {
  margin-bottom:0px;

  h2 {

    position: relative;
    display: block;
    width: 30px;
    font-size: 16px;
    text-indent: 26px;
    height: 29px;
//    color:transparent;
    padding-top: 4px;
    color: #fff;

    &:before {
      display: block;
      content: "";
      position: absolute;
      left: 5px;
      top: 12px;
      width: 18px;
      height: 3px;
      background: #fff;
      box-shadow:
        0 5px 0 #fff,
        0 -5px 0 #fff;

    }
  }

  div.menu-block-wrapper {
    position: relative;
    display: none;

    ul.menu {
      position: relative;
      li {
        position: relative;
        background-color: #c0392b;
        box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        padding: 10px;
        a {
          display: block;
          color:#ffffff;
          &:before {
            position: absolute;
            display: block;
            content: '\25BC';
            font-size: 0.7em;
            color: #fff;
            top: 13px;
            right: 10px;
          }

        }
        //li hover
        &:hover {
          background: #cd3d2e;
        }
      }
    }
  }


}