// Body Styles.
body {
  font-family: $latoregular;
  background-image: image-url('bg.png');
  margin:0px;

  #page {

    max-width: 1110px;
    margin:0 auto;

  }

}


//Header Mobile.
.header-mobile {
  @include outer-container;
  z-index: 1;
  height: 50px;
  background-color: #fff;
  border-top:5px solid $macro-purple;
  .region-header-mobile {
    z-index: 1;
  }
}

// Header Styles.
.header {
  @include outer-container;

  padding:0px !important;
  background-color: #fff;

  #block-hbc-header-hbc-header-logo {

  }

  #block-hbc-header-hbc-header-contact {
    .icon-phone,
    .icon-envelope {
      color:$macro-purple;
    }
  }
}

// Navigation Styles.
#navigation {
  @include outer-container;
  overflow: inherit;

  padding:0px;
  background-color: #fff;
}

body.section-make-booking {
  #main {
    @include outer-container;
    .node {
      float: right;
      padding-left:20px;
    }
    #block-webform-client-block-1 {
      float: left;
      h2 {display: none}
    }
  }
}

// Main Styles.
#main {
  @include outer-container;
  background-color: #fff;

  #block-hbc-gmaps-gmaps {
    #map-canvas {
      height: 340px;
    }
  }

  .node {
    font-family: $latoregular;

    h1, h2, h3, h4, h5, h6 {
      color: $macro-purple;
      margin:5px 0px;
    }

    p {
      margin:5px 0px;
    }

    ul {
      padding-left:40px;
      list-style-type: disc !important;
      li {
        list-style-type: disc !important;
      };
    }
  }
}

// Content Styles.
#content {
  @include outer-container;

  #page-title {
//    @include span-columns(8);
    font-family: $latoregular;
    color: $macro-purple;
    margin: 10px 0px;
    position: absolute;
    left:-999px;
  }

  margin-bottom: 50px;
  .node {
    @include span-columns(8);
  }

  #block-webform-client-block-1,
  #block-webform-client-block-20 {
    @include span-columns(4);
    background-color: lightgrey;
    padding:10px;
    border-radius: 10px;
    margin-top:5px;
  }

}


#hbc-gallery-wrapper {
  a {
    margin: 1px 2px;
    max-width: 230px;
    max-height: 230px;
  }
}

// Footer Styles.
#footer {
  @include outer-container;
  position: relative;
  box-sizing: border-box;
  background-color: $macro-purple;
  height: 100px;
  box-sizing: border-box;
  #block-hbc-footer-hbc-footer-logo {
    position: relative;
    box-sizing: border-box;
    font-family:$latobold;
    padding:14px;
    text-align: center;
    margin-bottom:0px;
    color:#fff;
  }

}