#block-hbc-hero-banner-hbc-hero-banner {
  position: relative;

  .slide-title {
    position: absolute;
    z-index: 1 !important;
    display: block;
    font-family: latobold;
    font-size: 30px;
    top:60px;
    padding:0px 5px;
    left:85px;
    color: #ffffff;
    max-height: 45px;
    max-width: 400px;
    overflow: hidden;
    height: auto;
    font-style: italic;
    p {
      margin:0px;
    }
  }

  .slide-body {
    position: absolute;
    z-index: 1;
    font-size: 28px;
    line-height: 1.1em;
    font-family: latobold;
    text-shadow: 1.1px 0.01px black;
    left:85px;
    top: 58px;
    color: #ffffff;
    max-height: 215px;
    max-width: 400px;
    overflow: hidden;
    font-style: italic;
    p {
      margin:0px;
    }
  }

  .slide-cta-wrapper {
    position: absolute;
    bottom: 30px;
    right:65px;
    width: 400px;
    text-align: center;
    .slide-cta {
      @include button(simple, $macro-purple);
      font-size: 30px;

    }
  }


}

.banner-btn{
  position: absolute;
  margin:auto;
  width:38px;
  height:220px;
  font-size: 1px;
  color: transparent;
  top:0;
  bottom:0;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &.banner-prev{
    left:20px;
    &:before {
      font-family: FontAwesome;
      content: "\f104";
      font-size: 110px;
      color: $macro-purple;
    }
  }
  &.banner-next{
    right:20px;
    &:before {
      font-family: FontAwesome;
      content: "\f105";
      font-size: 110px;
      color: $macro-purple;
    }
  }
}